body {
    background-color: #001144;
    color: #ffffff;
    font-family: 'Comic Sans MS', 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40em;
}

img {
    vertical-align: middle;
}

canvas {
    margin: 1em;
}

a {
    color: #ffffff;
}

a:visited {
    color: #aaaaff;
}